.about {
  margin-bottom: 162px;
  padding-top: 60px;
  padding-left: 128px;

  font-family: $main-font-family;
  font-style: normal;
  color: $main-color;
}

.about h1 {
  position: relative;
  margin-bottom: 37px;

  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;

  &::before {
    position: absolute;
    top: 49%;
    right: calc(100% + 32px);

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $opacity-color;

    content: "";
  }
}

.about p {
  width: 800px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
