.appeal {
  margin-bottom: 140px;
  padding-left: 132px;
  padding-bottom: 10px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $main-color;
}

.appeal h2 {
  position: relative;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;

  &::before {
    position: absolute;
    top: 49%;
    right: calc(100% + 32px);

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $opacity-color;

    content: "";
  }
}

.appeal__text {
  display: flex;
}

.appeal__text img {
  margin-right: 57px;

  width: 400px;
  height: 488px;
}

.appeal__text-wrapper {
  padding-top: 13px;
  width: 590px;
}

.appeal__text-wrapper p {
  padding-bottom: 9px;
}

.appeal__text-wrapper img {
  margin-left: auto;
  margin-right: -10px;

  display: block;
  width: 200px;
  height: 142px;
}
