.car {
  margin-bottom: 117px;
  padding-left: 128px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $main-color;
}

.car h1 {
  position: relative;
  margin-bottom: 38px;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 49%;
    right: calc(100% + 32px);

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $opacity-color;

    content: "";
  }
}

.car p {
  margin-bottom: 64px;
}

.car__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.car__list li {
  position: relative;
  margin-right: 72px;
  margin-bottom: 52px;
  padding-left: 65px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 427px;

  &::before {
    position: absolute;
    top: calc(50% - 21px);
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    background-image: url("../img/icon-pointer.svg");
    background-repeat: no-repeat;
    content: "";
  }
}
