.copyright {
  margin-left: 16px;
  margin-right: 57px;
}

.copyright__content {
  margin: 0;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: $main-color;

  opacity: 0.8;
}
