.main {
  margin: 0 auto;
  padding: 0 32px;
  padding-top: 125px;

  flex: 1 0 auto;
  width: $desktop-width;

  &--size-slider {
    margin: 0;
    padding: 0;

    width: 100%;
  }

  &--trans-slide-bg {
    background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/main-bg-desktop@1x.jpg");
    background-color: rgb(66, 76, 83);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  &--services-slide-bg {
    background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/services-bg-desktop@1x.jpg");
    background-color: rgb(66, 76, 83);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  &--customers-slide-bg {
    background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/customers-bg-desktop@1x.jpg");
    background-color: rgb(66, 76, 83);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  &--regions-slide-bg {
    background: url("../img/regions-bg-desktop@1x.jpg");
    background-color: rgb(66, 76, 83);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
}

.main__button-back {
  position: relative;
  margin-top: 44px;
  margin-bottom: 49px;
  padding-left: 65px;

  display: block;
  width: 110px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: $main-color;
  text-decoration: none;
  text-transform: lowercase;

  opacity: 0.8;

  &::before {
    position: absolute;
    top: 5px;
    left: 24px;

    display: block;
    width: 30px;
    height: 8px;

    background-image: url("../img/icon-arrow-left.svg");
    background-repeat: no-repeat;
    content: "";
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}
