.modal-response {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;

  color: $secondary-color;

  z-index: 10;

  background-color: $modal-overlay-color;

  &--opened {
    display: block;
  }
}

.modal-response__wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 160px;
  padding: 72px 56px;

  width: 1120px;

  background-color: $main-color;
}

.modal-response__close {
  position: absolute;
  top: 39px;
  right: 39px;

  display: block;
  width: 18px;
  height: 18px;

  background: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 9px;
    left: -2px;

    display: block;
    width: 22px;
    height: 1px;

    background-color: $close-button-color;

    transform: rotate(-45deg);

    content: "";
  }

  &::after {
    position: absolute;
    top: 9px;
    left: -2px;

    display: block;
    width: 22px;
    height: 1px;

    background-color: $close-button-color;

    transform: rotate(45deg);

    content: "";
  }
}

.modal-response__wrapper > h2 {
  margin: 0;
  margin-bottom: 37px;

  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;
}

.modal-response__wrapper > p {
  margin-bottom: 46px;
  width: 800px;
}

.modal-response__vacancy {
  font-weight: 600;
  color: $important-color;
}
