.result {
  margin-bottom: 143px;
  padding-left: 125px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: $main-color;
}

.result h2 {
  position: relative;
  margin-bottom: 66px;
  padding-left: 3px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;

  &::before {
    position: absolute;
    top: 49%;
    right: calc(100% + 32px);

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $opacity-color;

    content: "";
  }
}

.result__stats {
  margin: 0;
  padding: 0;
  padding-left: 3px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.result__item {
  margin-right: 80px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;

  width: 164px;
}

.result__value {
  margin-bottom: 6px;

  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.result__caption {
  margin-bottom: 9px;
  font-style: italic;
  font-weight: bold;
}
