.result {
  margin-bottom: 160px;
  padding-left: 125px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: $main-color;
}

.result__title {
  margin-bottom: 62px;
  padding-left: 3px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;
}

.result__value {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.result__caption {
  margin-bottom: 7px;
  font-style: italic;
  font-weight: bold;
}

.result__value,
.result__caption,
.result__description {
  display: flex;
}

.result__cell {
  margin-right: 80px;
  width: 164px;
}
