.slider {
  margin-bottom: -12px;
}

.slider__item {
  display: none;
  min-width: $desktop-width;
}

.slider__item-wrapper {
  margin: 0 auto;
  margin-bottom: 12px;
  padding-top: 115px;

  width: $slide-width;
}

.slider__button-container {
  &--trans-slide {
    padding-top: 30px;
  }
}

.slider__button {
  position: relative;
  padding: 22px 34px;

  display: block;
  width: 204px;
  box-sizing: border-box;

  font-family: $main-font-family;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: $main-color;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $main-color;

  &::after {
    position: absolute;
    top: 27px;
    right: 32px;

    display: block;
    width: 20px;
    height: 9px;

    background-image: url("../img/icon-arrow-small.svg");
    background-repeat: no-repeat;

    content: "";
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &--services-slide {
    padding-left: 53px;
    padding-right: 83px;
  }

  &--services-slide::after {
    right: 52px;
  }

  &--customers-slide {
    padding-left: 25px;
  }

  &--customers-slide::after {
    right: 25px;
  }

  &--regions-slide {
    padding-left: 45px;
  }

  &--regions-slide::after {
    right: 44px;
  }
}

.slider__pagination {
  transform: translateY(-92px);
  margin: 0 auto;

  display: flex;
  width: $slide-width;
}

.slider__bullet {
  margin-right: 4px;

  display: block;
  width: 64px;
  height: 12px;

  background-image: url("../img/icon-bullet.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider__bullet--active {
  background-image: url("../img/icon-bullet-active.svg");
}
