$main-font-family: "Montserrat", "Open Sans", sans-serif;
$main-color: #ffffff;
$secondary-color: #383838;
$important-color: #e75333;
$valid-color: #64dd17;
$invalid-color: #d9453d;
$title-color: #383838;
$bacground-color: #4c403c;
$background-footer-color: #1d1d1d;
$header-overlay-color: rgba(4, 4, 4, 0.9);
$modal-overlay-color: rgba(0, 0, 0, 0.6);
$opacity-color: rgba(255, 255, 255, 0.4);
$input-border-color: rgba(22, 22, 22, 0.2);
$form-color: rgba(22, 22, 22, 0.25);
$desktop-width: 1440px;
$slide-width: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
